* {
  font-family: Verdana;
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.vid {
  border-radius: 10px;
  cursor: pointer;
  width: 320px;
  height: 180px;
  object-fit: cover;
}